<% button_text ||= "» Jetzt Visitenkarte anlegen «" %>
<% button_path ||= new_user_path %>

<div class="sidebar-card">
  <h3 class="sidebar-card__header">Neue Kunden gewinnen?</h3>
  <div class="sidebar-card__body">
    <p class="partner-card__company">
      Nutzen Sie unser gutes Ranking für Ihr Business!
      Jede unsere Visitenkarten wurde zwischen
      <strong><%= visits_min %></strong> und
      <strong><%= visits_max %></strong> mal angesehen.
    </p>
  </div>
  <div class="partner-card__action">
    <%= link_to button_text, button_path, class: "btn btn--accent" %>
  </div>
</div>