<section class="hero <%= yield :hero_class %>">
  <div class="hero__inner">
    <div class="hero__content">
      <%= yield :hero_content %>
    </div>
    <div class="hero__visual">
      <%= yield :hero_picture %>
    </div>
  </div>
</section>