<div class="hero__stats">
  <div>
    <div class="hero__stat-value"><%= User.online.count %></div>
    <div class="hero__stat-label">Dienstleister</div>
  </div>
  <div>
    <div class="hero__stat-value"><%= @visits_all %></div>
    <div class="hero__stat-label">Besuchte Angebote</div>
  </div>
  <div>
    <div class="hero__stat-value"><%= Offer.count %></div>
    <div class="hero__stat-label">Fachbereiche</div>
  </div>
</div>