<div class="admin-breadcrumbs">
  <%= link_to "Admin", admin_root_path %> ›
  <%= link_to "Angebote", admin_offers_path %> ›
  <span>Erstellen</span>
</div>

<div class="admin-header">
  <h1>Neues Angebot erstellen</h1>
</div>

<%= render "form" %>
